

    <div id="topWrap" class="jumbotron">
        <div class="container">
            <div class="col-md-6 col-md-push-6 jumboText">
                <h1>Security at your door step</h1>
                <h2>We provide the BEST wireless home/business security systems to our clients.</h2>
            </div>

        </div>
    </div>

    <div id="featureWrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center feature">
                    <i class="fa fa-tablet icon"></i>
                    <h3><a href="/OrderProduct/product1">Alarm System</a></h3>
                    <p>
                        An Alarm System backed by Emergency Response Management can be a highly effective deterrent. By opting for Alarm System backed

                        by the Command Centre Emergency Response Management, businesses are ensuring that their property is watched over 24 hours a day 7 days a week.
                    </p>
                </div>
                <div class="col-sm-4 text-center feature">
                    <i class="fa fa-pencil icon"></i>
                    <h3><a href="/OrderProduct/product2">CCTV Surveillance Kit</a></h3>
                    <p>
                        Installing this CCTV Surveillance Kit could be one of the best steps you ever take to secure your home or business premises. It

                        will ping additional peace of mind for you in terms of your business and your family. CCTV Surveillance Kit helps you view all events live on your mobile device from

                        anywhere and at anytime.
                    </p>
                </div>
                <div class="col-sm-4 text-center feature">
                    <i class="fa fa-star icon"></i>
                    <h3><a href="/OrderProduct/product3">Fire Alarm System</a></h3>
                    <p>
                        The EN-54 approved conventional heat detector is designed with the state of the art combination of "Rate-of-Rise" and "Fixed-

                        Temperature" operation that ensures the best quality heat detection in all environments. All the detectors are connected to the panel via wired loops. The looping is

                        such that if any detectors fault out - the main panel will give out a short signal.
                    </p>
                </div>

                <div class="col-sm-4 text-center feature">
                    <i class="fa fa-tablet icon"></i>
                    <h3><a href="/OrderProduct/product4">Finger Print Lock</a></h3>
                    <p>
                        One of the most innovative and hassle free security device in recent times is the FingerPrint lock. These stylized Keyless door locks are

                        equiped with Optical Fingerprint Sensors that identifies your fingerprints, authenticates the person and only then permits entry. The security of your home is

                        literally in your hands or rather on your fingertips.
                    </p>
                </div>
                <div class="col-sm-4 text-center feature">
                    <i class="fa fa-pencil icon"></i>
                    <h3><a href="/OrderProduct/product5">Video Door Phone</a></h3>
                    <p>
                        If you would like to know who is at your door even before you open it, video door phones are your ultimate security solution. Widely used in

                        homes, apartments and businesses, they have proven themselves to be reliable and crime resistant. Switch to a more secured way of living with an assured safety

                        solution.
                    </p>
                </div>
                <div class="col-sm-4 text-center feature">
                    <i class="fa fa-star icon"></i>
                    <h3><a href="/OrderProduct/product6">Home Watch</a></h3>
                    <p>
                        The Home Watch camera helps you keep a check on the safety of your loved ones and reassures you that everything is fine in your home & your

                        world. It helps you take immediate action in cases of emergencies as it records a video clip whenever someone enters your home.
                    </p>
                </div>

            </div>
        </div>
    </div> <!-- /featureWrap -->

    <div id="productWrap" class="altWrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="sectionTitle">Protecting people is first priority</h2>
                    <h3 class="sectionTitle">
                        Our Security Services are centred on protecting people and property, thereby making our customers feel

                        safe. Through management commitment, quality control, planning and training we ensure that we live up to our customers expectations. WE provides a reliable,

                        professional, 24-hour security service with a human touch.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="imgWrap">
                        <img class="img-responsive" src="~/images/pic1.png" />
                        <img class="img-responsive" src="~/images/pic2.jpg" />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="productFeatures clearfix">
                        <div class="col-xs-2 icon">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="col-xs-10">
                            <h3>Performance in perspective</h3>
                            <p>
                                The Company today serves global clients in the Middle East region being a trusted name for fire safety.

                                Phoenix International WLL, is another subsidiary company of Zicom, specialising in providing turnkey solutions involving Fire Protection Systems, Fire Detection

                                Systems, Gas Flooding Systems, Voice Evacuation System and Control Battery System among others.
                            </p>
                        </div>
                        <div class="col-xs-2 icon">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cog fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="col-xs-10">
                            <h3>Mission 360-degree</h3>
                            <p>
                                Our customer footfall solutions, attendance monitoring, intruder alarm, fire monitoring, ATM monitoring are

                                backed by 24 x 7 Zicom Command and Control Centre (ZCC). These services are being offered under the RMR (Recurring Monthly Revenue) model with the customer paying for

                                services without having to own any of the systems.
                            </p>
                        </div>
                        <div class="col-xs-2 icon">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="col-xs-10">
                            <h3>Future is exciting</h3>
                            <p>
                                The future is challenging, unpredictable and disruptive for sunrise businesses like ours. But that is the

                                good news, because it means that we have to constantly question our existing mode of operations, elevate quality standards, strengthen innovation and look for emerging

                                opportunities in high-growth markets globally.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /productWrap -->

    <div id="pricingWrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="sectionTitle">Ready to get started?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <ul class="priceTable">
                        <li class="title">Protection Plan</li>
                        <li class="description">For Basic Security</li>
                        <li class="price">Rs 20000</li>
                        <ul class="features">
                            <li>100% Wireless and Cellular</li>
                            <li>Intrusion Protection</li>
                            <li>Fire Protection</li>
                            <li>Environmental Protection</li>
                            <li>Life Safety</li>
                            <li>24/7 Professional Monitoring</li>
                        </ul>
                        <li class="call">
                            <form method="post" action="~/OrderPlan/Plan1">
                                <button class="btn btn-success btn-lg" type="submit">Buy Now</button>         
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="priceTable alt">
                        <li class="title">Interactive Plan</li>
                        <li class="description">For Best Security</li>
                        <li class="price">Rs 30000</li>
                        <ul class="features">
                            <li>Includes Protection Plan</li>
                            <li>Crash and Smash Protection</li>
                            <li>Email and Text Alerts</li>
                            <li>Remote Access and Control</li>
                            <li>Light Control</li>
                            <li>Geo  Location Services</li>
                        </ul>
                        <li class="call">
                            <form method="post" action="~/OrderPlan/Plan2">
                                <button class="btn btn-success btn-lg" type="submit">Buy Now</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="priceTable">
                        <li class="title">Ultimate Plan</li>
                        <li class="description">For Superb Security</li>
                        <li class="price">Rs 35000</li>
                        <ul class="features">
                            <li>Includes Interactive Plan</li>
                            <li>Wireless Video Monitoring</li>
                            <li>Live Video Streaming</li>
                            <li>Recording Clips and Alerts</li>
                            <li>Automated Door Locks</li>
                            <li>Thermostat Control</li>
                        </ul>
                        <li class="call">
                            <form method="post" action="~/OrderPlan/Plan3">
                                <button class="btn btn-success btn-lg" type="submit">Buy Now</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- /pricingWrap -->

    <div id="testimonialsWrap" class="altWrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="sectionTitle">What people say</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="quote">
                                    "Due to our focus on people, we are aware of the impact that internal services has,

                                    and together with ISS we keep working to improve the delivery process model, meet our SLA on each service and achieve the best levels by developing new tools and

                                    methods to be closer to the clients/users."
                                </div>
                                <div class="author">Jorge Carrasco R.</div>
                            </li>
                            <li>
                                <div class="quote">
                                    "We should not wait for incidents to happen in order to take precautions. We must

                                    avoid the risk of possible threats by taking a step right away."
                                </div>
                                <div class="author">Hetali Om Shivam</div>
                            </li>
                            <li>
                                <div class="quote">
                                    "Through our dealings with your company we have found you to be very professional,

                                    thorough and always on time. Overall the services provided at the Temple have been excellent."
                                </div>
                                <div class="author">Karuna Joshi</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /testimonialsWrap -->

    <div id="contactWrap">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="sectionTitle">Contact Us</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="blurb">
                            Want to chat? Send us a message. We'd love to hear from you!
                        </div>
                    </div>
                </div>
                <form method="post" action="~/ContactUs/saveMessage">

                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <div class="inputContainer">
                                <label>Name</label>
                                <input type="text" name="contactName" id="contactName" value="" class="form-control" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="inputContainer">
                                <label class="screen-reader-text">Email</label>
                                <input type="text" name="email" id="email" value="" class="form-control" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="inputContainer">
                                <label class="screen-reader-text">Message</label>
                                <textarea name="comments" id="commentsText" class="form-control" autocomplete="off"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-8 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary btn-lg">Send</button>
                        </div>
                    </div>

                </form>
                
            </div>
        </div>
    </div> <!-- /contactWrap -->

    
